.parent {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #114b66;
  transition: background-color 300ms linear;
  padding-top: 20px;
  padding-bottom: 0;
  color: #c6c6d0;
}

.parent:hover {
  background-color: #c6c6d0;
  color: #114b66;
}

.aboutus-container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 30%;
  word-wrap: break-word;
}

.right {
  width: 50%;
}

@media screen and (max-width: 760px) {
  .aboutus-container {
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 90%;
    word-wrap: break-word;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
}
