.parent {
  margin-top: 50px;
  width: 100%;
  display: flex;

  justify-content: center;

  background-color: #114b66;
  transition: background-color 300ms linear;
  padding: 30px 0;
  color: #c6c6d0;
}

.parent:hover {
  background-color: #c6c6d0;
  color: #114b66;
}

.aboutus-container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 30%;
  word-wrap: break-word;
}

.right {
  width: 50%;
}
