.user-page {
  margin-top: 7%;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  width: 300px;
  height: 40px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.rectangle {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.rectangle-header {
  margin-bottom: 16px;
}

.rectangle-header h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.rectangle-content {
  display: flex;
  flex-direction: column;
}

.rectangle-item {
  display: flex;
  margin-bottom: 8px;
}

.rectangle-label {
  font-weight: bold;
  width: 100px;
}

.rectangle-value {
  flex-grow: 1;
}

.cancel-appointment-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgb(184, 64, 14);
  color: #ffff;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* Media query for responsiveness */
@media screen and (max-width: 480px) {
  .rectangle {
    max-width: 90%;
  }
}
