.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 7%;
}

.header-left {
  width: 40%;

  display: flex;
  justify-content: center;
}

.header-text {
  word-wrap: break-word;
  width: 70%;
}

.header-right {
  width: 40%;
}

.header-pic {
  min-width: 300px;
  min-height: auto;
  width: 90%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    gap: 30px;
  }

  .header-left {
    width: 90%;
  }

  .header-right {
    width: 90%;
  }
}
